@import "../../../theme/web/custom-variables.scss";
html body{
    div.inspections{
       .mx-listview .mx-layoutgrid.mx-layoutgrid-fluid.inspection-vehicle{
            background-color: $gray-dark;
            padding:10px !important;
            border-radius: 10px;          
            margin-bottom:20px;
            
        }
        .dark-container{
                cursor:pointer;
                &:hover{
                    cursor:pointer;
                    background-color: lighten($gray-darker,30%);
                }
            }
    }

    .camera-background{
        height:300px;
        width:300px;
        border:dashed 3px $gray;
        border-radius:10px;
        display: inline-block;

        .btn{
            width:100%;
            height:100%;
            display:block;
            border-radius: 0;
            background-color: transparent;
            border:none;
            color:$font-color-default;
            // font-size: 16px;
            font-weight: 500;
            &:hover{
                color:$brand-primary;
            }
            .glyphicon{
                width:100%;
                display:block;
                font-size: 4em;
            }
        }
    }
    .btn-save{
        width:100%;
        border-radius: 10px;
    }

    .inspection-date{
        .btn:hover{
            background-color: $brand-primary;     
            color:#E8F0FD;       
        }
    }
    .inspection-img{
        border-radius:10px;
        max-width:100%;
    }

    .inspection-vehicle{
        .inspection-header{
            cursor:pointer;
            h3{
                font-size: 16pt;
            }
        }
        img.arrow{
            width:30px;
            transform: rotate(0deg);
            transition: 0.5s;
        }
        &.collapsed{
           
            img.arrow{
            transform: rotate(180deg);
            transition: 0.5s;
            }
            .inspection-body{
                display:none;
            }
        }
    }

    .reset-inspections{
        color:$gray !important;
    }
}
    .img-container{
        position:relative;
        max-width: 500px;
        display: block;
        text-align: center;
        img{
            display:inline;
        }
    }

    .img-highlight{
        position: absolute;

        &.high-confidence{
            border: $brand-success solid 2px;
            background-color: rgba(193,227,95,0.4);
            z-index:3;
        }
        &.medium-confidence{
            border: $brand-warning solid 2px;
            background-color: rgba(254,165,2,0.4);
            opacity: 0.6;
            z-index:2;
        }
        &.low-confidence{
            border: $brand-danger solid 2px;
            background-color: lighten($brand-danger, 20%);
            opacity: 0.2;
            z-index:1;
        
        }

    }